mixin main-header(active)

  mixin item(title, url)
    a(href=url, class=active == title && 'active')= title

  .header-content
    +item("About", "/")
    +item("Members", "/members")
    +item("Albums", "/albums")
    a(href="/")
      img.band-logo(src="images/logo.png")
    +item("Black Circle", "/black-circle")
    +item("Video", "/video")
    +item("Press", "/press")
