extends partials/layout

block header
  +main-header('Albums')

block content
  div.content
    img.album-cover-image(src="images/unholy_ghost_cover.jpg")

    p.
      Father and Son released their debut album in 2012, and the EP Rest in Pieces in 2013. Unholy Ghost is the third
      album, and most ambitious album to date. The record was released on vinyl (and download) in 2015. It consists of
      10 original songs in the spirit of vintage hard rock. The album was recorded in an old abandoned community
      hall/movie theatre, among the wolves in the middle of the Värmland woods, some 400 km from Stockholm. The band
      is taking new even more diabolic spirits into the studio with a coming release early 2019, with Jack’s evil vocal
      chords behind the microphone.
