extends partials/layout

block header
  +main-header('Black Circle')

block content
  div.content
    img.black-circle-studio-image(src="images/recording_black_circle.jpg")

    p.
      The band is heavily involved in the upcoming, psychedelic horror film Black Circle, directed by the
      Spanish-Mexican horror maestro Adrián García Bogliano. The band plays in a club scene in the movie, has the song
      Black Circle on the soundtrack, and Father and Son’s Rickard Gramfors has composed the score together with
      Mats Molund and Ragnar Berthling.

    p.
      The amazing cast includes Christina Lindberg (Thriller – a Cruel Picture), Félice Jankell
      (Young Sophie Bell, Sobibor), Inger Nilsson (Pippi Longstocking, The Here After), Hanna Asp (The Circle) and
      Johan Palm (Swedish Idol on TV)!

    p.
      Father and Son’s song Anno Domini Satanicus was featured in Bogliano’s dark comedy Scherzo Diabolico,
      which had its world premiere at the Tribeca Film Festival in New York 2016. Bogliano also edited the rock video
      for the song, with the band and scenes from the film.
