extends partials/layout

block header
  +main-header('Contact')

block content
  div.content
    div
      p If you want the band to play your club or festival, please contact:
      div Klubb Super 8 Fonogram
      div Rickard Gramfors
      div
        a(href="info@klubbsuper8.com") info@klubbsuper8.com
      div Phone: +46-704-866008
