extends partials/layout

block header
  +main-header('About')

block content
  div.band-description
    img.montage-image(src="images/montage.jpg")

    p.
      Father and Son is a Swedish hard rock band, inspired by the seminal hard rock bands of the Seventies.
      The lyrics are black, satirical ponderings on love, hate, sex, religion, contemporary society –
      and, of course – Satan!

    p.
      Three of the members have played together for decades in other bands. With uncanny attitude and dark irony,
      Father and Son throws influences of hardcore,
      punk and black americana into classic metal, creating a sharp, rough and highly profiled sound.

    p.
      As live act, the mix of absolute output and a beat driven energy has earned them a growing number of followers.
      With the new übercool lead singer Jack Verwindt (earlier in Shackled Messiah, among others), and their
      collaboration with Spanish-Mexican horror film director Adrián García Bogliano, Father and Son has taken yet
      another step towards a dark and evil reputation.

