extends partials/layout

block header
  +main-header('About')

block content
  div.content

    p.
      Father and Son is a Swedish hard rock band, inspired by the seminal hard rock bands of the Seventies.
      The lyrics are black, satirical ponderings on love, hate, sex, religion, contemporary society –
      and, of course – Satan!

    p.
      Three of the members have played together for decades in other bands. With uncanny attitude and dark irony,
      Father and Son throws influences of hardcore,
      punk and black americana into classic metal, creating a sharp, rough and highly profiled sound.

    p.
      As a live act, the mix of absolute output and a beat driven energy has earned them a growing number of followers.
      With the new übercool lead singer Jack Verwindt (earlier in Shackled Messiah, among others), and their
      collaboration with Spanish-Mexican horror film director Adrián García Bogliano, Father and Son has taken yet
      another step towards a dark and evil reputation.

    p.
      Father and Son has an insane width of generations. Rickard Gramfors (bass) and Mats Molund (drums) have played
      together since they were 16 years old (1976) in bands like Schnabel and The Lee Harvey Oswald Ensemble.
      Their sons, Dexter Gramfors and Loke Molund both play guitar in the band. The ”Holy Ghosts” are Jack Verwindt
      (lead vocals) and Ragnar Berthling, former member of TLHOE (Hammond organ).

    div.contact
      p If you want the band to play your club or festival, please contact:
      div Klubb Super 8 Fonogram
      div Rickard Gramfors
      div
        a(href="info@klubbsuper8.com") info@klubbsuper8.com
      div Phone: +46-704-866008
