extends partials/layout

block header
  +main-header('Home')

block content
  div.band-description
    div Father and Son is a unique cross-generation band, formed in 2011.
    div The fathers: Rickard Gramfors (bass), Mats Molund (drums).
    div The sons: Dexter Gramfors (guitar),  Loke Molund (guitar).
    div The holy ghosts: Jack Verwindt (vocals), Ragnar Berthling (keyboards).

    p.
      The band is deeply involved in the new Swedish horror film Svart cirkel/Black Circle, by prolific
      Spanish-Mexican director Adrián García Bogliano. The band plays in a scene in the film,
      has a song on the soundtrack, and Rickard has composed the score, together with Mats and Ragnar.

    p.
      The cast includes stars like Christina Lindberg (Thriller - A Cruel Picture), Félice Jankell
      (Young Sophie Bell), Hanna and Erica Midfjäll (I Miss You), Hannas As (The Circle), Johan Palm
      (Swedish Idol), Hans Sandquist (Äldreomsorgen i Övre Kågedalen at Turteatern) and Inger Nilsson
      (The Hereafter).

    p.
      Svart cirkel/Black Circle will play at international film festivals during the upcoming months,
      and the band plans to perform at some of them, and generally do more live gigs with this new line-up!

    div.contact
      p If you want the band to play your club or festival, please contact:
      div Klubb Super 8 Fonogram
      div Rickard Gramfors
      div
        a(href="info@klubbsuper8.com") info@klubbsuper8.com
      div Phone: +46-704-866008
