extends partials/layout

block header
  +main-header('Members')

block content
  div.content
    p.
      Father and Son has an insane width of generations. Rickard Gramfors (bass) and Mats Molund (drums) have played
      together since they were 16 years old (1976) in bands like Schnabel and The Lee Harvey Oswald Ensemble.
      Their sons, Dexter Gramfors and Loke Molund both play guitar in the band. The ”Holy Ghosts” are Jack Verwindt
      (lead vocals) and Ragnar Berthling, former member of TLHOE (Hammond organ).