extends partials/layout

mixin video(title, url)
  div.video
    h2= title
    iframe(width="560", height="315", src=url, frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)

block header
  +main-header('Video')

block content
  div.content
    +video("Anno Domini Satanicus", "https://www.youtube.com/embed/S4LwKJBdh8Q")
    +video("Holy Ghost","https://www.youtube.com/embed/W4SqJbjckV4")
