@import 'nib'

color-background = #282828
color-black-transparent = rgba(0, 0, 0, 0.5)
content-width-screen-small = 85%
content-width-screen-large = 50%
screen-large = 1200px

body
  font-family sans-serif
  color white
  min-height 100vh
  padding 0
  margin 0
  background-image url(../images/background.jpg)
  background-position top 4rem left
  background-size contain
  background-repeat no-repeat
  background-color color-background

  @media(min-width: 730px)
    background-position initial
    background-size cover
    font-size 1.2rem

header
  display flex
  height 8rem
  justify-content center
  align-items center
  background-color color-black-transparent

  a
    text-decoration none
    align-self center

  .active
    text-decoration underline

  .header-content
    display flex
    justify-content space-between
    text-align center
    width content-width-screen-small

  .band-logo
    height 5rem
    align-self center

  @media(min-width: screen-large)
    height 12rem

    .header-content
      display flex
      width content-width-screen-large

    .band-logo
      height 10rem


main
  width 100%
  margin-left auto
  margin-right auto
  margin-bottom 2rem

a
  color white

.content
  width content-width-screen-small
  margin-left auto
  margin-right auto
  margin-top 3rem

  @media(min-width: screen-large)
    width content-width-screen-large

.montage-image
  width 100%

.album-cover-image
  display block
  width 50%

.black-circle-studio-image
  display block
  width 50%

.video
  margin-bottom 3em

.quote
  font-style italic

blockquote
  margin-bottom 2.5em
