@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Staatliches');

color-background = #282828
color-black-transparent = rgba(0, 0, 0, 0.5)
content-width-screen-small = 85%
content-width-screen-large = 50%
screen-medium = 600px
screen-large = 1200px

h2
  font-weight normal
  font-family 'Staatliches', sans-serif

body
  font-family 'Noto Sans', sans-serif
  color white
  min-height 100vh
  padding 0
  margin 0
  background-image url(../images/background.jpg)
  background-position top 4rem left
  background-size contain
  background-repeat no-repeat
  background-color color-background

  @media(min-width: 730px)
    background-position initial
    background-size cover
    font-size 1.2rem

#side-menu
  display flex
  flex-direction column
  padding 1rem
  top 5rem
  position absolute
  width 80%
  height 100vh
  background-color #4d4d4d
  z-index 1
  transition transform 0.3s ease
  transform translateX(-100%)

  .menu-item
    font-size 2em

  .icon-link
    margin-right 1em
    font-size 1.5em

  &.open
    transform translateX(0)

  @media(min-width: screen-medium)
    display none

a
  text-decoration none
  &:hover
    color darkgrey

.menu-item
  font-family 'Staatliches', sans-serif

.active
  color #7f7f7f

header
  display flex
  height 5rem
  justify-content center
  align-items center
  background-color color-black-transparent
  font-size 2rem

  button.hamburger
    background none
    padding none
    outline none
    color white
    border none
    font-size inherit

    &:hover
      color darkgrey
      cursor pointer

  .header-content
    display flex
    justify-content space-between
    align-items center
    text-align center
    width content-width-screen-small

  .link-collection
    display none

  .band-logo
    height 3rem

  @media(min-width: screen-medium)
    height 8rem
    font-size 2.5vw

    button.hamburger
      display none

    .link-collection
      display flex
      justify-content space-between
      width 35%

    .band-logo
      height 5rem

  @media(min-width: screen-large)
    height 11vw

    .header-content
      display flex
      width content-width-screen-large
      font-size 1.5vw

    .band-logo
      height 9vw


main
  width 100%
  margin-left auto
  margin-right auto
  margin-bottom 2rem

a
  color white

.content
  width content-width-screen-small
  margin-left auto
  margin-right auto
  margin-top 3rem

  @media(min-width: screen-large)
    width content-width-screen-large

.leader-text
  font-family 'Staatliches', cursive
  font-size 2.5em

.album-cover-image
  display block
  width 50%

.black-circle-studio-image
  display block
  width 50%

.video
  margin-bottom 3em

.video-iframe-wrapper
  position relative
  overflow hidden
  padding-top 56.25%

  iframe
    border 0
    height 100%
    left 0
    position absolute
    top 0
    width 100%

.quote
  font-style italic

blockquote
  margin-bottom 2.5em

.contact
  margin-top 2em
